<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
    <header>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="patient" class="nav-link">Patient</a></li>
                    <li class="nav-item"><a href="doctor" class="nav-link">Doctor</a></li>
                    <li class="nav-item"><a href="chemist" class="nav-link">Chemist</a></li>
                    <li class="nav-item"><a href="#" class="nav-link active">About</a></li>
                </ul>
            </header>
        </div>
    </header>

    <main class="container">
        <h3>Group 3</h3>
        <div class="row mb-3">
            <ul class="list-group row col-2">
                <li class="list-group-item list-group-item-primary">Tanmaiy Sethia Jain</li>
                <li class="list-group-item list-group-item-secondary">Hritik Goel</li>
                <li class="list-group-item list-group-item-success">Priyanshu Vats</li>
                <li class="list-group-item list-group-item-danger">Amit Jindal</li>
                <li class="list-group-item list-group-item-warning">Haritarth Bhardwaj</li>
                <li class="list-group-item list-group-item-info">Shreyas Athreya</li>
            </ul>
            <ul class="list-group row col-2">
                <li class="list-group-item list-group-item-primary">2019A7PS0117G</li>
                <li class="list-group-item list-group-item-secondary">2019A7PS0154G</li>
                <li class="list-group-item list-group-item-success">2019A7PS0047G</li>
                <li class="list-group-item list-group-item-danger">2019A7PS0807</li>
                <li class="list-group-item list-group-item-warning">2019B3A70544G</li>
                <li class="list-group-item list-group-item-info">2019B3A70494G</li>
            </ul>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">ISP - Group 3</span>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>